In [2]:
import pandas as pd 
pd.Series([7,3,5,8])

0    7
1    3
2    5
3    8
dtype: int64

In [8]:
x=pd.Series([7,3,5,8], index=['서울','대구','부산','광주'])
print(x)
x[['서울','대구']]
x.index
x.values
print(sorted(x.index))
print(sorted(x.values))

x = x.reindex(sorted(x.index))
x

서울    7
대구    3
부산    5
광주    8
dtype: int64
['광주', '대구', '부산', '서울']
[3, 5, 7, 8]

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [9]:
x = pd.Series([3,5,8,9], index =['서울', '대구', '부산', '광주'])
y = pd.Series([10,10,10,10], index =['대구', '부산', '서울', '대전'])
x + y

광주     NaN
대구    15.0
대전     NaN
부산    18.0
서울    13.0
dtype: float64

In [10]:
medal = [1,3,2,4,2,3]
x = pd.Series(medal)
print(pd.unique(x))

[1 3 2 4]

In [11]:
age = {'민준':23, '현우':43, '서연':12, '동현':45}
x = pd.Series(age)
x

민준    23
현우    43
서연    12
동현    45
dtype: int64

In [15]:
names = ['민준', '서연','현우', '민서', '동현', '수빈']
pdata = pd.Series(names)
print(pdata)

a = pdata[3:6]
# print(a[2])
print(a[5])

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object
수빈

In [16]:
data = {
    'age':[23,43,12,45],
    'name':['민준', '서연','현우', '민서'],
    'height':[175.3, 180.3, 165.8, 172.7]
}

x = pd.DataFrame(data, columns =['name', 'age', 'height'])
x

AttributeError: module 'pandas' has no attribute 'data'